* {
  font-family: "Garamond";
}

header {
  height: 400px;
  background-color: rgb(98, 140, 167);
  text-align: center;
  border: solid 3px white;
}

h1 {
  font-size: 100px;
  color: rgb(179, 216, 156);
}
.headerheadline {
  padding: 50px;
}
main {
  display: flex;
  background-color: rgb(208, 239, 177);
}
.Navigation {
  height: 1000px;
  width: 20%;
  background-color: rgb(157, 195, 194);
  border: solid 3px white;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

ul {
  list-style-type: none;
}
li {
  padding-top: 20px;
}
.navlink {
  font-size: 45px;
  color: white;
  text-decoration: None;
}
a {
  color: white;
  text-decoration: None;
  border-radius: 5px;
  padding: 5px;
}
.navlink:link {
  background-color: rgb(157, 195, 194);
}
.navlink:hover {
  background-color: rgb(119, 166, 182);
}
.Main {
  height: 1000px;
  width: 80%;
}

.mainheadline {
  display: flex;
  justify-content: center;
}
h2 {
  color: rgb(119, 166, 182);
  font-size: 50px;
}
.smallflags {
  display: flex;
  justify-content: center;
}
.flaglinks {
  width: 75px;
  height: 50px;
  padding: 20px;
}
.img {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.flags {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.countryflag {
  width: 500px;
  border-radius: 15px;
}

.MainImg {
  width: 70%;
}
.maintext {
  display: flex;
  justify-content: center;
}
.pickflag {
  font-size: 25px;
  color: rgb(118, 155, 188);
}
.countryheadline {
  display: flex;
  justify-content: center;
}
.countryname {
  color: rgb(118, 155, 188);
}
.countrytext {
  display: flex;
  justify-content: center;
}
p {
  font-size: large;
  color: rgb(167, 200, 228);
  width: 500px;
  text-align: center;
}
footer {
  height: 150px;
  background-color: rgb(98, 140, 167);
  border: solid 3px white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.footertext {
  color: white;
  padding-right: 20px;
}

h3 {
  color: white;
  padding-right: 20px;
}
